@font-face {
  font-family: "HelveticaNeueLTStd-Bd";
  src: url("../../fonts/HelveticaNeueLTStd-Bd.eot") format("eot"),
  url("../../fonts/HelveticaNeueLTStd-Bd.woff") format("woff"),
  url("../../fonts/HelveticaNeueLTStd-Bd.ttf") format("truetype"),
  url("../../fonts/HelveticaNeueLTStd-Bd.svg") format("svg");
}
@font-face {
  font-family: "HelveticaNeueLTStd-Md";
  src: url("../../fonts/HelveticaNeueLTStd-Md.eot") format("eot"),
  url("../../fonts/HelveticaNeueLTStd-Md.woff") format("woff"),
  url("../../fonts/HelveticaNeueLTStd-Md.ttf") format("truetype"),
  url("../../fonts/HelveticaNeueLTStd-Md.svg") format("svg");
}