$color-black : #000;
$color-white : #fff;

$color-blue-light-3 : #4a6986;
$color-blue-light-2 : #255079;
$color-blue-light-1 : #1d4468;
$color-blue : #0c3c6a;
$color-blue-dark-1 : #183b5b;
$color-blue-dark-2 :#102e4b;
$color-blue-dark-3 : #0c2238;
$color-orange : #fbb216;
$color-orange-hover : #eaa207;
$color-gray-dark : #383e43;
$color-gray-light-border : #e5ebf1;
$color-gray : #dce4ec;
$color-gray-light: #b0b0b0;
$color-gray-blue : #3d4e60;

$font-HelveticaNeueLTStd-Bd: "HelveticaNeueLTStd-Bd" , "Arial", "sans-serif";
$font-HelveticaNeueLTStd-Md: "HelveticaNeueLTStd-Md" , "Arial", "sans-serif";
$font-Arial: "Arial" , "Helvetica", "sans-serif";