/*** ESSENTIAL STYLES ***/
.sf-menu, .sf-menu * {
  margin: 0;
  padding: 0;
  list-style: none; }

.sf-menu li {
  position: relative; }

.sf-menu ul {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  z-index: 99; }

.sf-menu > li {
  float: left; }

.sf-menu li:hover > ul,
.sf-menu li.sfHover > ul {
  display: block; }

.sf-menu a {
  display: block;
  position: relative; }

.sf-menu ul ul {
  top: 0;
  left: 100%; }

/*** DEMO SKIN ***/
.sf-menu {
  float: left;
  margin-bottom: 1em; }

.sf-menu ul {
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
  min-width: 12em;
  /* allow long menu items to determine submenu width */
  *width: 12em;
  /* no auto sub width for IE7, see white-space comment below */ }

.sf-menu a {
  border-left: 1px solid #fff;
  border-top: 1px solid #dFeEFF;
  /* fallback colour must use full shorthand */
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  padding: 0.75em 1em;
  text-decoration: none;
  zoom: 1;
  /* IE7 */ }

.sf-menu a {
  color: #13a; }

.sf-menu li {
  background: #BDD2FF;
  white-space: nowrap;
  /* no need for Supersubs plugin */
  *white-space: normal;
  /* ...unless you support IE7 (let it wrap) */
  transition: background 0.2s; }

.sf-menu ul li {
  background: #AABDE6; }

.sf-menu ul ul li {
  background: #9AAEDB; }

.sf-menu li:hover,
.sf-menu li.sfHover {
  background: #CFDEFF;
  /* only transition out, not in */
  transition: none; }

/*** arrows (for all except IE7) **/
.sf-arrows .sf-with-ul {
  padding-right: 2.5em;
  *padding-right: 1em;
  /* no CSS arrows for IE7 (lack pseudo-elements) */ }

/* styling for both css and generated arrows */
.sf-arrows .sf-with-ul:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 1em;
  margin-top: -3px;
  height: 0;
  width: 0;
  /* order of following 3 rules important for fallbacks to work */
  border: 5px solid transparent;
  border-top-color: #dFeEFF;
  /* edit this to suit design (no rgba in IE8) */
  border-top-color: rgba(255, 255, 255, 0.5); }

.sf-arrows > li > .sf-with-ul:focus:after,
.sf-arrows > li:hover > .sf-with-ul:after,
.sf-arrows > .sfHover > .sf-with-ul:after {
  border-top-color: white;
  /* IE8 fallback colour */ }

/* styling for right-facing arrows */
.sf-arrows ul .sf-with-ul:after {
  margin-top: -5px;
  margin-right: -3px;
  border-color: transparent;
  border-left-color: #dFeEFF;
  /* edit this to suit design (no rgba in IE8) */
  border-left-color: rgba(255, 255, 255, 0.5); }

.sf-arrows ul li > .sf-with-ul:focus:after,
.sf-arrows ul li:hover > .sf-with-ul:after,
.sf-arrows ul .sfHover > .sf-with-ul:after {
  border-left-color: white; }

/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@font-face {
  font-family: "HelveticaNeueLTStd-Bd";
  src: url("../../fonts/HelveticaNeueLTStd-Bd.eot") format("eot"), url("../../fonts/HelveticaNeueLTStd-Bd.woff") format("woff"), url("../../fonts/HelveticaNeueLTStd-Bd.ttf") format("truetype"), url("../../fonts/HelveticaNeueLTStd-Bd.svg") format("svg"); }

@font-face {
  font-family: "HelveticaNeueLTStd-Md";
  src: url("../../fonts/HelveticaNeueLTStd-Md.eot") format("eot"), url("../../fonts/HelveticaNeueLTStd-Md.woff") format("woff"), url("../../fonts/HelveticaNeueLTStd-Md.ttf") format("truetype"), url("../../fonts/HelveticaNeueLTStd-Md.svg") format("svg"); }

body {
  margin: 0;
  color: #383e43;
  font-family: "HelveticaNeueLTStd-Md", "Arial", "sans-serif"; }

.grid {
  margin: 0 auto;
  max-width: 1180px; }

a {
  text-decoration: none;
  color: inherit; }

a:hover, a:active, a:focus, button, input {
  outline: 0; }

ul {
  padding: 0;
  margin: 0; }

li {
  list-style: none; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.right {
  float: right; }

.left {
  float: left; }

.default-canvas {
  padding-top: 40px;
  padding-bottom: 80px; }

.sf-menu {
  width: 100%;
  text-align: center;
  float: none;
  font-family: "Arial", "Helvetica", "sans-serif";
  font-weight: bold;
  font-size: 20px; }
  .sf-menu > li:first-child {
    display: none; }
  .sf-menu > li {
    height: 64px;
    background-color: #0c3c6a;
    width: 25%; }
    .sf-menu > li:hover {
      background-color: #255079; }
    .sf-menu > li a {
      line-height: 34px;
      border-right: 3px solid #1d4468;
      color: #fff;
      border-left: none;
      border-top: none; }
    .sf-menu > li ul li {
      min-width: 325px;
      height: 56px;
      font-size: 18px;
      background-color: #255079;
      text-align: left; }
      .sf-menu > li ul li:hover {
        background-color: #1d4468; }
      .sf-menu > li ul li a {
        line-height: 26px;
        padding-left: 30px;
        border-right: none;
        border-top: 3px solid #4a6986; }
      .sf-menu > li ul li ul li {
        background-color: #1d4468; }
        .sf-menu > li ul li ul li:hover {
          background-color: #183b5b; }
        .sf-menu > li ul li ul li ul li {
          background-color: #183b5b; }
          .sf-menu > li ul li ul li ul li:hover {
            background-color: #102e4b; }
    .sf-menu > li ul li.parent > a::after {
      display: inline-block;
      content: "";
      background-image: url(../images/sprites/spritesheet.png);
      background-position: -127px -72px;
      width: 9px;
      height: 14px;
      position: absolute;
      top: 20px;
      right: 30px; }
  .sf-menu > li:last-child a {
    border-right: none; }

#logo {
  margin-top: 25px;
  margin-bottom: 25px; }
  #logo a {
    display: inline-block;
    height: 150px; }

#header {
  position: relative; }

.header-top-menu ul {
  line-height: 25px;
  margin-top: 61px;
  margin-bottom: 61px; }

.header-top-menu li {
  font-family: "Arial", "Helvetica", "sans-serif";
  font-size: 17px;
  font-weight: bold;
  display: inline-block;
  margin-right: 35px; }

.header-social {
  margin-top: 58px;
  margin-bottom: 58px; }
  .header-social a {
    display: inline-block;
    margin-right: 25px; }
    .header-social a span {
      display: none; }
    .header-social a:nth-child(1) {
      background-image: url(../images/sprites/spritesheet.png);
      background-position: -127px 0px;
      width: 12px;
      height: 25px; }
    .header-social a:nth-child(2) {
      background-image: url(../images/sprites/spritesheet.png);
      background-position: 0px -47px;
      width: 32px;
      height: 23px; }
    .header-social a:nth-child(3) {
      background-image: url(../images/sprites/spritesheet.png);
      background-position: -25px -70px;
      width: 26px;
      height: 25px; }
    .header-social a:nth-child(1):hover {
      background-image: url(../images/sprites/spritesheet.png);
      background-position: -127px -25px;
      width: 12px;
      height: 25px; }
    .header-social a:nth-child(2):hover {
      background-image: url(../images/sprites/spritesheet.png);
      background-position: -31px -16px;
      width: 32px;
      height: 23px; }
    .header-social a:nth-child(3):hover {
      background-image: url(../images/sprites/spritesheet.png);
      background-position: -51px -70px;
      width: 26px;
      height: 25px; }

div.mod_search111.search-top {
  margin-top: 61px;
  margin-bottom: 61px; }
  div.mod_search111.search-top input[type="search"] {
    width: 0;
    border: none;
    border-bottom: 3px solid #fbb216;
    color: #000;
    opacity: 0;
    transition: all 0.5s; }
  div.mod_search111.search-top button {
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: transparent;
    background-image: url(../images/sprites/spritesheet.png);
    background-position: -101px 0px;
    width: 26px;
    height: 25px; }

.header-heading {
  text-align: center;
  font-size: 41px;
  font-family: "HelveticaNeueLTStd-Bd", "Arial", "sans-serif";
  color: #fff;
  margin-bottom: 85px;
  margin-top: 85px; }

.header-quick-links {
  margin-bottom: 83px;
  width: 100%;
  font-family: "Arial", "Helvetica", "sans-serif";
  font-size: 22px; }
  .header-quick-links ul {
    width: 911px;
    margin: 0 auto; }
  .header-quick-links li {
    color: #fff;
    display: inline-block;
    background-color: #fbb216;
    padding: 15px 30px;
    margin-right: 30px;
    line-height: 30px;
    border-radius: 4px; }
    .header-quick-links li:last-child {
      margin-right: 0; }
    .header-quick-links li:hover {
      background-color: #eaa207; }
    .header-quick-links li a:after {
      display: inline-block;
      content: '';
      background-image: url(../images/sprites/spritesheet.png);
      background-position: -127px -72px;
      width: 9px;
      height: 14px;
      vertical-align: middle;
      margin-left: 10px; }

.search-banner form {
  position: relative; }

.search-banner input[type="search"] {
  width: 100%;
  height: 75px;
  background-color: rgba(12, 60, 106, 0.5);
  border: none;
  color: #fff;
  padding-left: 45px;
  box-sizing: border-box;
  font-size: 24px; }

.search-banner button {
  cursor: pointer;
  position: absolute;
  right: 40px;
  top: 50%;
  margin-top: -15.5px;
  border: none;
  background-color: transparent;
  color: transparent;
  background-image: url(../images/sprites/spritesheet.png);
  background-position: 0px -16px;
  width: 31px;
  height: 31px; }

.search-banner ::-webkit-input-placeholder {
  color: #fff;
  font-size: 24px;
  font-family: "HelveticaNeueLTStd-Bd", "Arial", "sans-serif"; }

.search-banner :-moz-placeholder {
  /* Firefox 18- */
  color: #fff;
  font-size: 16px;
  font-family: "HelveticaNeueLTStd-Bd", "Arial", "sans-serif"; }

.search-banner ::-moz-placeholder {
  /* Firefox 19+ */
  color: #fff;
  font-size: 16px;
  font-family: "HelveticaNeueLTStd-Bd", "Arial", "sans-serif"; }

.search-banner :-ms-input-placeholder {
  color: #fff;
  font-size: 16px;
  font-family: "HelveticaNeueLTStd-Bd", "Arial", "sans-serif"; }

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none; }

.banner-slider {
  position: absolute;
  top: 156px;
  z-index: -1; }

.learn-more-header {
  color: #0c3c6a;
  margin-bottom: 38px; }

.learn-more {
  border: 4px solid #e5ebf1;
  padding: 22px 40px 10px 40px;
  margin-bottom: 22px; }
  .learn-more ul li {
    display: inline-block;
    width: 33%;
    line-height: 31px;
    margin-bottom: 30px; }
    .learn-more ul li a:before {
      content: '';
      float: left;
      margin: 0 22px 0px 0;
      vertical-align: middle; }
    .learn-more ul li:nth-child(1) a:before {
      background-image: url(../images/sprites/spritesheet.png);
      background-position: -101px -54px;
      width: 20px;
      height: 28px; }
    .learn-more ul li:nth-child(2) a:before {
      background-image: url(../images/sprites/spritesheet.png);
      background-position: -32px -47px;
      width: 24px;
      height: 22px; }
    .learn-more ul li:nth-child(3) a:before {
      background-image: url(../images/sprites/spritesheet.png);
      background-position: -77px 0px;
      width: 24px;
      height: 29px; }
    .learn-more ul li:nth-child(4) a:before {
      background-image: url(../images/sprites/spritesheet.png);
      background-position: -77px -29px;
      width: 23px;
      height: 24px; }
    .learn-more ul li:nth-child(5) a:before {
      background-image: url(../images/sprites/spritesheet.png);
      background-position: 0px -70px;
      width: 25px;
      height: 27px; }
    .learn-more ul li:nth-child(6) a:before {
      background-image: url(../images/sprites/spritesheet.png);
      background-position: -101px -25px;
      width: 22px;
      height: 29px; }

#content {
  position: relative; }

.moduletable.home-news {
  font-family: "HelveticaNeueLTStd-Bd", "Arial", "sans-serif";
  width: 66%;
  float: left; }
  .moduletable.home-news li {
    width: 50%; }
  .moduletable.home-news li:nth-child(2) {
    float: left; }
  .moduletable.home-news .item_published {
    font-size: 14px;
    color: #b0b0b0; }

.moduletable.home-news .item {
  width: 50%;
  float: right;
  padding-right: 20px;
  padding-left: 20px;
  box-sizing: border-box; }

.moduletable.home-news .item:nth-child(2) .item_content, .moduletable.home-news .item:nth-child(3) .item_content {
  padding-bottom: 15px;
  border-bottom: 4px solid #e5ebf1; }

.moduletable.home-news img {
  display: none; }

.moduletable.home-news .item:nth-child(1) {
  float: left;
  height: 400px;
  padding-left: 0; }
  .moduletable.home-news .item:nth-child(1) img {
    display: block;
    width: 100%;
    margin-bottom: 40px; }

.home-news-heading, .home-blog-heading {
  color: #0c3c6a;
  font-size: 28px;
  margin-bottom: 35px; }

.moduletable.home-blog {
  width: 33%;
  float: left;
  padding-left: 20px;
  box-sizing: border-box; }
  .moduletable.home-blog .item_published {
    font-size: 14px;
    color: #b0b0b0;
    margin-bottom: 20px; }
  .moduletable.home-blog img {
    width: 100%;
    margin-bottom: 40px; }

.home-news .readmore, .moduletable.home-blog .readmore {
  font-size: 15px;
  color: #0c3c6a; }
  .home-news .readmore span:after, .moduletable.home-blog .readmore span:after {
    display: inline-block;
    content: '';
    background-image: url(../images/sprites/spritesheet.png);
    background-position: -127px -86px;
    width: 9px;
    height: 14px;
    vertical-align: middle;
    margin-left: 10px; }

.home-news .item, .moduletable.home-blog .item {
  margin-bottom: 30px; }
  .home-news .item .item_introtext h3, .moduletable.home-blog .item .item_introtext h3 {
    font-size: 24px;
    margin: 15px 0px;
    font-weight: 100; }

.home-content-quick-links ul {
  width: 100%;
  margin: 0 auto; }

.home-content-quick-links li {
  width: 33%;
  display: inline-block;
  padding-right: 20px;
  padding-left: 20px;
  box-sizing: border-box;
  font-family: "HelveticaNeueLTStd-Md", "Arial", "sans-serif";
  font-size: 22px; }
  .home-content-quick-links li a {
    position: relative;
    width: 100%;
    color: #0c3c6a;
    display: inline-block;
    background-color: #dce4ec;
    padding: 22px 30px;
    line-height: 22px;
    border-radius: 4px;
    box-sizing: border-box; }
    .home-content-quick-links li a:hover {
      background-color: #0c3c6a;
      color: #dce4ec;
      transition: all 1s; }
      .home-content-quick-links li a:hover:after {
        background-image: url(../images/sprites/spritesheet.png);
        background-position: -127px -72px;
        width: 9px;
        height: 14px; }
    .home-content-quick-links li a:after {
      display: inline-block;
      content: "";
      background-image: url(../images/sprites/spritesheet.png);
      background-position: -127px -86px;
      width: 9px;
      height: 14px;
      right: 30px;
      position: absolute;
      top: 23px; }
  .home-content-quick-links li:nth-child(1) {
    padding-left: 0; }
  .home-content-quick-links li:nth-child(3) {
    padding-right: 0; }

#footer {
  height: 870px;
  color: #fff;
  background-color: #0c2238; }
  #footer .footer-menu {
    margin-bottom: 10px; }
    #footer .footer-menu li {
      font-size: 14px;
      line-height: 14px;
      display: inline-block;
      border-right: 1px solid #fff;
      padding-right: 10px;
      padding-left: 10px; }
      #footer .footer-menu li:last-child {
        border-right: none; }
      #footer .footer-menu li:first-child {
        padding-left: 0; }

#footer-top {
  border-bottom: 4px solid #3d4e60; }

.footer-social {
  float: right; }
  .footer-social .footer-social-header {
    font-size: 17px;
    font-weight: 100;
    float: left;
    margin: 25px 105px 25px 0;
    line-height: 29px; }
  .footer-social p {
    float: left;
    margin: 25px 0px 25px 0; }
  .footer-social a {
    display: inline-block; }
    .footer-social a span {
      display: none; }
    .footer-social a:nth-child(1) {
      background-image: url(../images/sprites/spritesheet.png);
      background-position: -127px -50px;
      width: 10px;
      height: 22px;
      margin-right: 15px; }
    .footer-social a:nth-child(2) {
      background-image: url(../images/sprites/spritesheet.png);
      background-position: 0px -97px;
      width: 24px;
      height: 18px;
      margin-right: 15px; }
    .footer-social a:nth-child(3) {
      background-image: url(../images/sprites/spritesheet.png);
      background-position: -77px -70px;
      width: 23px;
      height: 22px; }

.footer-main-menu {
  width: 25%; }

.footer-learn-menu {
  width: 50%;
  font-size: 14px;
  font-weight: 100; }
  .footer-learn-menu-heading {
    margin-top: 0;
    font-family: "HelveticaNeueLTStd-Bd", "Arial", "sans-serif";
    font-size: 17px; }
  .footer-learn-menu ul {
    height: 101px; }
  .footer-learn-menu li {
    width: 50%;
    float: right; }
  .footer-learn-menu li:nth-last-of-type(n+4) {
    float: left; }

.footer-contact {
  width: 25%;
  font-size: 14px;
  font-weight: 100; }
  .footer-contact-heading {
    margin-top: 0;
    margin-bottom: 25px;
    font-size: 17px; }
  .footer-contact-address-heading {
    font-family: "HelveticaNeueLTStd-Bd", "Arial", "sans-serif";
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 20px; }
  .footer-contact p {
    line-height: 20px; }

.footer-main-menu, .footer-learn-menu, .footer-contact {
  float: left;
  margin-top: 30px; }
  .footer-main-menu li, .footer-learn-menu li, .footer-contact li {
    margin-bottom: 20px; }

.footer-main-menu {
  font-family: "HelveticaNeueLTStd-Bd", "Arial", "sans-serif";
  font-size: 17px;
  font-weight: 100; }

.footer-copyright {
  font-size: 14px;
  font-weight: 100;
  margin-bottom: 20px;
  margin-top: 40px; }

#development {
  font-size: 14px;
  font-weight: 100; }
  #development a {
    display: inline-block;
    margin-left: 2px;
    vertical-align: middle;
    background-image: url(../images/sprites/spritesheet.png);
    background-position: 0px 0px;
    width: 77px;
    height: 16px; }
    #development a span {
      display: none; }